@charset "UTF-8";
        body {
            background-color: aquamarine;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }

        h1{
            color: darkmagenta;
            background-color: darkgoldenrod;
        }

        h2{
            color: darkkhaki;
        }

        p{
            text-align: justify;
        }
    /*Esse é o melhor jeito de aplicar o css. O do exercício 14 também é útil, porém o do exercício 13 vai servir apenas para situações específicas.
    Também é possível misturar as 3 técnicas.*/